"Got an unexpected response from host on command: [.] expecting: 250 received:  [line: 319 | Email_Smtp.php]"

Hello, I will get the error above and have no idea how to fix it. If anyboddy can help me it would be very glad. Thanks in advance.

It means that a command was send to the SMTP server, to which the server must reply with a status code 250 ("Requested mail action okay, completed"), but instead a single dot was returned (the value between the brackets.

You'll have to debug to find out what command was send exactly, and contact the system administrator of the email server you're communicating with to see why you get a dot back, instead of a 250 response.

Just wondering, Google's SMTP service by any chance? 

If so, check point 4 of https://fuelphp.com/docs/packages/email/troubleshooting.html,

Hello, thx for response.
I changed this:
       //$lines = explode($this->config['newline'], $message['header'].preg_replace('/^\./m', '..$1', $message['body']));
         $lines = explode($this->config['newline'], $message['header'] . preg_replace('/^\./m', '..', $message['body']));
now it seems to work

I do not use  Google's SMTP

I'm not sure that is what you want, that will remove most of the message body?

Having said that, there is something that bothers me.

That preg_replace changes every line starting with a dot to a line with two dots, as per RFC 5321, section 4.5.2. And then splits it into individual lines by the configured newline character.

However, when the code loops over the lines, and checks again if the line starts with a dot, and if so, prefixes another dot. Which incorrectly leads to 3 leading dots? That doesn't look right?

I have no time to test at the moment, but could you revert the change you made, and instead comment out the
````
$line = '.'.$line;
````
line? And see if that fixes your problem without altering the email message? 

This is what that preg_replace is supposed to do: https://www.phpliveregex.com/p/NSz

So I don't get why the loop also checks for the dot. But then again, I also don't see why the line
````
$this->smtp_send('.', 250);
````
returns a dot in your case, and not a code 250 (which is your problem).

Hi,
i rolled back everything and it works without any error-message. I got in contact with my provider. He updated his server and is struggeling with configuration. <I will change to google ;)>
excuse for circumstances.

No worries.